# Grafische Konsole (optional, oft hilfreich bei ARM-Servern)
insmod gzio
insmod part_gpt
insmod ext2

# Menüeintrag für die Installation
menuentry 'Install SUSE Linux Enterprise Server 15 SP7' --class sles --class os {
    echo "Lade Kernel (linux)..."
    
    # Hier: KEIN / am Anfang und Pfad angepasst auf sles15sp7/...
    linux sles15sp7/boot/aarch64/linux \
        install=http://192.168.1.1/sles15sp7/ \
        console=tty0 console=ttyAMA0,115200n8 \
        ipv6.disable=1 \
        autoyast=http://192.168.1.1/autoyast/sles15.xml

    echo "Lade Initrd..."
    # Hier ebenfalls: KEIN / am Anfang
    initrd sles15sp7/boot/aarch64/initrd
}

menuentry 'Rescue System' --class sles --class os {
    echo "Lade Kernel (Rescue)..."
    linux sles15sp7/boot/aarch64/linux \
        rescue=1 \
        install=http://192.168.1.1/sles15sp7/ \
        console=tty0 console=ttyAMA0,115200n8
    echo "Lade Initrd..."
    initrd sles15sp7/boot/aarch64/initrd
}
